.menu1 {
    width: 100%;
    height: 250px;
    background-color: #fff810;
    margin-top: 5px;
}
.menu3 {
    width: 100%;
    height: 250px;
    background-color: #FF951A;
}
.menu2 {
    width: 100%;
    height: 250px;
    background-color: #1df1fd;
    margin-top: 5px;
}
.menu4{
    width: 100%;
    height: 250px;
    background-color: #1759ff;
}
.menu3, .menu4 {
    margin-top:30px;
}
.menu1 {
    padding-top: 5px;
    padding-left: 50px;
}
.menu2-icon {
    padding-bottom: 0px;
}
#tbl1 td {
    margin: 5px;
}
#tbl1 h3 {
    margin: 0;
}
#tbl1 td {
    border: 0;
}
