/*
Theme Name: School13_2
Theme URI: http://s13a.ru/
Author: Alla Obolentseva
Author URI: http://s13a.ru/
Description: Special theme for school 13
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light
Text Domain: simplestsite

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.zvonki {
    font-size: 150%;
}
.content2 hr {
    border: 1px solid #000;
}