body {
    min-height: 300px;
    background: url(../img/paper091.png) repeat;
    font-family: "Comic Sans MS", Century, Verdana, serif;
}
.container {
   width: 1000px;
    margin-top: 10px;
}
#lenta-top {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: rgba(255,152,64, 0.3);
}
.logo-container {
    height: 90px;
    background: rgba(255,152,64, 0);
    margin-top: -25px;
}
.logo-img {
    margin-right: -15px;
}
.logo-img img {
    height: 100px !important;
    margin-top: 5px;
    margin-left: 20px;
}
.logo-text {
    margin-left: -15px;
}
.logo-img, .logo-text {
    height: 40px;
    min-height: 100px !important;
}
.menu-container {
}
.slider {
    min-height: 250px;
    background-color: rgba(255,118,0,0.3);
    margin-right: -25px;
}
.main-container{
}
.content2{
    min-height: 500px;
    background-color: rgba(255,180,115, 0.1);
    margin-right: -25px;
}
.menu2 {
    background-color: rgba(1,147,154,0.3);
}
.logo-text img {
    width: 100%;
    margin-top: 25px;
}
#phone {
    font-family: "Comic Sans MS";
    font-size: 30px;
    margin: 10px 0 0 0;
}
.menu1 {
    background-color: rgba(255,118,0,0.3);
    height: 250px;
}
.slider_img img{
    height: 230px;
    width: 500px;
    margin: 10px 0 10px 0;
}
.slider_img {
    margin: 0 auto;
    width: 500px;
}
.real_menu {
    min-height: 500px;
}
#blue_menu li {
    font-size: 25px !important;
    color: #ffffff;
}
.row {
    margin-top: 5px;
}
.class-pluso_img img{
    height: auto;
    width: auto;
}
.menu1-icon i, .menu1-mini-icon {
    color: #037c9a;
}
.menu1-text, .menu1-mini-text, .menu2-text{
    font-size: 1.5em;
}
#menu1-table, #menu1-mini-table, #menu2-table {
    margin: 0;
    padding: 5px;
    width: 100%;
}
#menu1-table td, #menu1-mini-table td, #menu2-table td {
    padding: 5px;
}
.menu2-icon i {
    color: #FF7600;
}
#hrhr {
    margin-top: 0;
    margin-bottom: 0;
}
#social-plugin:hover {
    background-color: rgba(255,118,0,0) !important;
}
.content2 {
    padding: 5px;
    font-family: "Comic Sans MS";
    text-indent: 20px;
}
.content2 img {
    margin: 10px;
    float: left;
}
.footer {
    height: 80px;
    width: 100%;
    background-color: rgba(1, 147, 154, 0.3) !important;
    margin-bottom: -20px !important;
    margin-top: -80px;
}

#menu1-table tr:hover, #menu1-table tr:hover i{
    color: white;
    background-color: #006064;
}
#menu1-table tr:hover a {
    color: white !important;
}
#menu1-table tr a {
    color: inherit !important;
    text-decoration: none;
}
#menu1-mini-table tr:hover, #menu1-mini-table tr:hover i {
    color: white;
    background-color: #006064;
}
#menu1-mini-table tr:hover a {
    color: white !important;
}
#menu1-mini-table tr a {
    color: inherit !important;
    text-decoration: none;
}
#menu2-table tr:hover, #menu2-table tr:hover i {
    color: white;
    background-color: #FF7600;
}
#menu2-table tr:hover a {
    color: white !important;
}
#menu2-table tr a{
    color: inherit !important;
    text-decoration: none;
}
#map{
    height: 200px;
    width: 400px;
    background-color: #0043b2;
}