body {
    min-height: 300px;
    background: url(../img/paper09.png) repeat;
}
.container {
   width: 960px;
    margin-top: 10px;
}
.logo-container {
    height: 110px;
    background-color: #F4BE9E;
}
.logo-img {
}
.logo-img img {
    height: 100px !important;
    margin-top: 5px;
}
.logo-text {
}
.logo-img, .logo-text {
    height: 40px;
    min-height: 100px !important;
}
.menu-container {
}
.slider {
    min-height: 250px;
    background: url(../img/paper10.png) repeat;
}
.main-container{
}
.content{
    min-height: 500px;
    background-color: #ffffff
}
.menu2 {
    background:  #F4BE9E;
}
.footer {
    height: 50px;
    background-color: #F4BE9E;
}
#descr {
    color: #79ba49;
}
.logo-text img {
    width: 100%;
    margin-top: 25px;
}
#phone {
    font-family: "Comic Sans MS";
    font-size: 30px;
    margin: 10px 0 0 0;
}
#lenta-top {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.menu1 {
    height: 250px;
}
.slider_img img{
    height: 230px;
    width: 500px;
    margin: 10px 0 10px 0;
}
.slider_img {
    margin: 0 auto;
    width: 500px;
}
#blue_menu li {
    font-size: 25px !important;
}
#orang_menu li {
    font-size: 25px !important;
}